include LICENSE
include README.rst
include Makefile
include figures/webpack-stats.json
recursive-include figures/static *
recursive-include figures/templates *
recursive-include docs *
include tests/test-webpack-stats.json
recursive-include frontend/ *
prune frontend/node_modules
prune frontend/build
prune frontend/webpack-stats.json
