@import '~base/sass/base/variables';
@import '~base/sass/base/functions';
@import '~base/sass/base/grid';

.header-content-maus {

  &__wrapper {

  }

  .main-content {
    margin-bottom: calcRem(30);
    text-align: center;
  }

  .users-count {

    .number {
      display: block;
      font-weight: 900;
      font-size: calcRem(64);
      line-height: 120%;
    }

    .text {
      display: block;
      font-weight: 900;
      font-size: calcRem(18);
      line-height: 120%;
    }
  }

  .text-separator {
    display: block;
    width: calcRem(100);
    height: calcRem(2);
    background-color: pick-visible-color($primary-color, #fff, $base-text-color);
    margin: calcRem(20) auto;
  }

  .comparison-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $base-font-size;

    &__icon {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
    }

    &__text {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: calcRem(10);
      font-weight: regular;
    }
  }

  .mau-history-link, .mau-history-link:not(.btn) {
    flex-shrink: 0;
    flex-grow: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: calcRem(5) calcRem(10);
    border: calcRem(2) solid pick-visible-color($primary-color, #fff, $base-text-color);
    border-radius: calcRem(50);
    color: pick-visible-color($primary-color, #fff, $base-text-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: pick-visible-color($primary-color, #fff, $base-text-color);
      color: pick-visible-color(pick-visible-color($primary-color, #fff, $base-text-color), #fff, $primary-color);
    }
  }

  .bar-tooltip {
    position: relative;
    left: calcRem(10);
    background-color: $base-text-color;
    color: #fff;
    width: calcRem(100);
    border-radius: calcRem(2);
    padding: calcRem(10);
    text-align: center;

    &:after {
      top: 50%;
    	right: 100%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(136, 183, 213, 0);
    	border-right-color: $base-text-color;
    	border-width: calcRem(10);
    	margin-top: calcRem(-10);
    }

    .tooltip-value {
      font-size: calcRem(14);
      font-weight: bold;
    }

    p {
      margin: 0;
      font-size: calcRem(10);
    }
  }

  .graph-container {
    margin-left: calcRem(-20);
    margin-right: calcRem(-20);
  }
}

.no-data-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: italic;
  opacity: 0.6;
  font-size: 1.4rem;
}
