// Most of this is just to get the pesky default Open edX stylesheed with its superbroad element targeting out of the way.


:global {

	.edx-figures-app {
		input {
			background: none;
			box-shadow: none;
			text-shadow: none;
			border: none;
			outline: none;
			letter-spacing: inherit;
			font: inherit;
			height: auto;
			padding: calcRem(5);

			&:focus {
				box-shadow: none;
			}
		}

		input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button {
			background: none;
			box-shadow: none;
			text-shadow: none;
			border: none;
			outline: none;

			&:hover {
				background-image: none;
				background-color: unset;
			}
		}

		input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), button {
		  box-shadow: none;
			letter-spacing: normal;
		}
	}
}
