@import '~base/sass/base/functions';

$rem-base-size: 16;
$base-font-size: calcRem(14);
$max-grid-width: calcRem(1180);
$mobile-breakpoint: calcRem(420);
$tablet-breakpoint: calcRem(1020);

$font-family: 'Open Sans', sans-serif;

$primary-color: #259ED7;
$base-text-color: #2C2A2F;

$positive-color: #27ae60;
$negative-color: #c0392b;

$elements-border-radius: calcRem(10);
