@import '~base/sass/base/functions';

$rem-base-size: 10 !default;
$base-font-size: calcRem(14) !default;
$max-grid-width: calcRem(1180);
$mobile-breakpoint: calcRem(420);
$half-screen-breakpoint: calcRem(639);
$tablet-breakpoint: calcRem(1020);

$font-family: 'Open Sans', sans-serif;

$primary-color: #0090c1 !default;
$base-text-color: #2C2A2F !default;

$positive-color: #27ae60;
$negative-color: #c0392b;

$elements-border-radius: calcRem(10);
