{% extends "main_django.html" %}

{% block title %}
  {% block pagetitle %}{% endblock %} | EdX Figures
{% endblock %}

{% load render_bundle from webpack_loader %}

{% block body %}
  <div id="view-context-values"
    data-cms-search-api-url={{ edx_figures_api_url }}
    data-cms-search-api-url-ssl={{ edx_figures_api_url_ssl }}
    data-placeholder=""
    style="display:none">
  </div>
  <div class="page-header">edX Figures</div>
  <div id="edx-figures-app" class="edx-figures-app">APPLICATION CONTENT</div>
  <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
  {% render_bundle 'main' config='EDX_FIGURES_APP' %}
{% endblock %}
